:root {
  font-size: 10px;
  --primary: rgb(1, 61, 6);
  --secondary: rgb(74, 255, 216);
  --cover: rgb(255, 255, 255);
  --cover-sec: rgba(228, 228, 228, 0.829);

  --text-color-light: rgb(255, 255, 255);
  --text-color-dark: rgb(39, 38, 38);

  --text-sm: 1.3rem;
  --text-nl: 1.7rem;
  --text-md: 2.7rem;
  --text-bg: 4rem;
  --text-lg:5rem;

  --shadow-sm: 2px 5px 5px rgba(0, 25, 71, 0.718);
  --shadow-md: 2px 10px 10px rgba(0, 25, 71, 0.718);
  --shadow-lg: 4px 20px 20px rgba(0, 25, 71, 0.718);
  --shadow-xlg: 2px 35px 40px rgba(0, 25, 71, 0.718);

  --border: 2px solid var(--secondary);
  --transition: all 1s;
}
