#about {
  background-color: var(--cover);
}


/* text container in about section */
.left-side {
  min-width: 300px;
  max-width: 800px;
  width: 40%;
  height: 40rem;
  padding: 1rem;
  border: 1rem solid var(--primary);

  .small-heading{
    border-bottom: 2px solid var(--primary) ;
  }
}

.text-container {
  background-color: var(--text-color-light);
  width:100%;
  margin-inline:auto;
  padding: 2rem;
  height: 85%;
  overflow-y: scroll;
  font-size: var(--text-sm);
  line-height: 25px;
  text-align: justify;
  font-weight: 900;
  color: var(--text-color-dark);
}

/* image container in about section */
.right-side {
  min-width: 300px;
  max-width: 800px;
  width:40%;
  margin-bottom: 1rem;
}
.img {
  height: 20rem;
  position: relative;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
  transition: all 1s;
}

.img:hover::after {
  backdrop-filter: none;
}
/* .img:hover {
  transform: translateX(-6px) scale(1.02);
  z-index: 200;
  outline: 1rem solid var(--primary);
  outline-offset: .6rem;
} */
