#footer {
  background-image: linear-gradient(to top,
      rgb(66, 225, 249),
      rgb(1, 213, 107));
  position: absolute;

  bottom: -8%;
  left: -10vw;
  width: 100vw;

  .container {
    justify-content: space-evenly;
    padding-block: 3rem;
  }

  .content {
    padding: .4rem;
  }



  .logo {
    transform: scale(1.2);
    margin-top: 5rem;
  }

  .list {
    flex-direction: column;
    max-width: 15rem;
    padding-bottom: 1rem;

    li {
      display: flex;
      border-bottom: 2px solid var(--secondary);
      width: 12rem;
      justify-content: center;

      a {
        display: flex;
        width: 100%;
        justify-content: center;
      }
    }

    li a:hover {
      background-color: rgba(255, 255, 255, 0.379) !important;
    }
  }
}

.copy{
  width:100%;
  color:var(--text-color-light);
  font-size: var(--text-sm);
  font-weight: 900;
  padding:1rem 3rem;
}