.nav_bar {
  display: flex;
  justify-content: space-between;

  backdrop-filter: blur(7px);
  background-image: linear-gradient(to left, var(--primary), var(--secondary));
  width: 100vw;
  z-index: 100;
  padding-inline: 10%;
  margin-bottom: 5rem;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.58);
  position: relative;
  height: 8rem;
}

ul {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  justify-content: space-between;
  width: 50%;
  font-size: var(--text-nl);
}

.item {
  display: flex;
  text-shadow: 0px 0.4px var(--secondary);
  height: 100%;
  align-items: center;
}

.item:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.item:active {
  background-color: rgba(255, 255, 255, 0.35);
}

#header .button {
  padding: 5px;
}

.humburger-btn {
  width: 4rem;
  height: 4rem;
  margin-block: auto;
  border: none;
  margin-inline: 2rem;
  border-radius: 3rem;
  background-color: var(--primary);
  z-index: 102;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  span {
    width: 60%;
    height: 3px;
    background-color: aliceblue;
  }
}

#btn-X {
  position: relative;
  top: 2px;
  left: -19px;

  .span-1 {
    transform: rotateZ(45deg);
    position: absolute;
  }

  .span-2 {
    transform: rotateZ(-45deg);
  }
}

.dropDown-list {
  position: absolute;
  left: 0;
  width: 250px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dropDown-list .smallMenu {
  display: flex;
  flex-direction: column;

  background-image: linear-gradient(to top left, var(--secondary), blue);
  position: absolute;
  top: 1.7rem;
  left: 12vw;
  z-index: 104;
  width: 100%;

  border-radius: 12px;
  font-size: var(--text-md);

  li {
    width: 100% !important;

    a {
      text-align: center;
    }
  }
}

.dropDown-list .smallMenu .item {
  display: block;
  padding-block: 2rem !important;
  text-shadow: 0px 0.4px var(--secondary);
  text-decoration: none;
  width: 100%;
}

.dropDown-list .smallMenu .item:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.dropDown-list .smallMenu .item:active {
  background-color: rgba(255, 255, 255, 0.35);
}
